<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/js/handlebars-1.0.rc.1.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

    <!-- WITH EXAMPLE -->
    <script id="with" type="text/x-handlebars-template">
    	<div>
        <h3>With Example</h3>
        {{#with user}}
          <h3>User: {{firstname}} {{lastname}}</h3>
        {{/with}}
      </div>
    </script>

    <!-- EACH EXAMPLE -->
    <script id="each" type="text/x-handlebars-template">
      <div>
        <h3>Each Example</h3>
        <ul>
        {{#each users}}
          {{#with this}}
            <li>{{firstname}} {{lastname}}</li>
          {{/with}}
        {{/each}}
        </ul>
      </div>
    </script> 

    <!-- IF EXAMPLE -->
    <script id="if" type="text/x-handlebars-template">
      <div>
        <h3>If Example</h3>
        <ul>
        {{#each users}}
          {{#with this}}
            {{#if admin}}
              <li style="color: red;">{{firstname}} {{lastname}}</li>
            {{else}}
              <li style="color: blue;">{{firstname}} {{lastname}}</li>
            {{/if}}
          {{/with}}
        {{/each}}
        </ul>
      </div>
    </script> 

    <!-- PATHS EXAMPLE -->
    <script id="paths" type="text/x-handlebars-template">
      <div>
        <h3>Paths Example</h3>
        <ul>
        {{#each users}}
          {{#if this.admin}}
            <li style="color: red;">{{this.firstname}} {{this.lastname}}</li>
          {{else}}
            <li style="color: blue;">{{this.firstname}} {{this.lastname}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    </script>             
  </body>

  <script type="text/javascript">
    // with example
  	var source   = $('#with').html();
  	var template = Handlebars.compile(source);
    var context  = {
      user: {
        firstname: 'John',
        lastname : 'Doe'
      }
    };
  	var html     = template(context);
  	$('body').append(html);


    // with example
    var source   = $('#each').html();
    var template = Handlebars.compile(source);
    var context  = {
      users: [
        {firstname : 'John', lastname: 'Doe'},
        {firstname : 'Jane', lastname: 'Doe'}
      ]
    };
    var html     = template(context);
    $('body').append(html); 

    // if example
    var source   = $('#if').html();
    var template = Handlebars.compile(source);
    var context  = {
      users: [
        {firstname : 'John', lastname: 'Doe', admin: true},
        {firstname : 'Jane', lastname: 'Doe', admin: false}
      ]
    };
    var html     = template(context);
    $('body').append(html);    

    // paths example
    var source   = $('#paths').html();
    var template = Handlebars.compile(source);
    var context  = {
      users: [
        {firstname : 'John', lastname: 'Doe', admin: true},
        {firstname : 'Jane', lastname: 'Doe', admin: false}
      ]
    };
    var html     = template(context);
    $('body').append(html);         
  </script>
</html>