<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="http://handlebarsjs.com">Get handlebars</a></p>

    <h2>Browser-side Handlebars Compilation</h2>
    <p>It is possible to use handlebars entirely inside the browser:</p>
    <ul>
    	<li><a href="/example_01">Example 01</a> - an example of compiling a
    		handlebars template inside the browser.</li>

    	<li><a href="/example_02">Example 02</a> - an example of using handlebars
        to not escape HTML.</li>

      <li><a href="/example_03">Example 03</a> - an example of using handlebars
        helper functions to define complex behavior in a templatized form.</li>

      <li><a href="/example_04">Example 04</a> - an example of using built-in
        helper functions in handlebars.</li> 
    </ul>

    <h2>Server-side Handlebars Pre-Compilation</h2>
    <p>It is also possible to pre-compile handlebars templates to improve
       performance.  That is, instead of compiling the handlebars templates
       inside the browser we can pre-compile the templates on the server
       and use the pre-compiled templates on the client. To do this you must
       install the handlebars application using npm:</p>
    <code>
      $ npm install handlebars -g
    </code>
    <p>This will install the handlebars application in your node.js environment
       on your local machine.  We can then invoke handlebars to compile your
       templates like so:</p>
    <code>
      $ handlebars [input] -f [output]
    </code>
    <ul>
      <li><a href="/example_05">Example 05</a> - an example of using
        pre-compiled handlebars templates in the client.</li>
    </ul>
  </body>
</html>