<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/js/handlebars-1.0.rc.1.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>

    <!--  include the generated handlebars file: -->
    <script type="text/javascript" src="/handlebars/users.handlebars.js"></script>
    <script type="text/javascript" src="/js/users.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <div id="view">
      <!-- To be filled in. -->
    </div>
  </body>
</html>