<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/js/handlebars-1.0.rc.1.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

    
    <!-- Define a template inside a script tag -->
    <script id="template_01" type="text/x-handlebars-template">
    	<h2>A Title of {{title}}</h2>
    </script>
  </body>

  <script type="text/javascript">
  	var source   = $('#template_01').html();
  	var template = Handlebars.compile(source);
  	var html     = template({title: 'My First Template!'});
  	$('body').append(html);
  </script>
</html>