<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/js/handlebars-1.0.rc.1.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

    
    <!-- Define a template inside a script tag -->
    <script id="template_01" type="text/x-handlebars-template">
      <div>
      <h2>A Title of {{title}}</h2>
      <p>Here is an example of some HTML code:</p>
      <code>
        {{code}}
      </code>
      <p>And here are the results of rendering that HTML:</p>
      {{{code}}}
      </div>
    </script>


    <script id="template_02" type="text/x-handlebars-template">
      <div>
      {{#list people}}{{firstname}} {{lastname}}{{/list}}
      </div>
    </script>

    <script id="template_03" type="text/x-handlebars-template">
      <div id="table">
      {{#table people}}<td>{{firstname}}</td><td>{{lastname}}</td>{{/table}}
      </div>
    </script>

  </body>

  <script type="text/javascript">
  	var source   = $('#template_01').html();
  	var template = Handlebars.compile(source);
  	var html     = template({title: 'My Third Template!',
                             code: '<p>This is <strong>html</strong> code</p>'});
  	$('body').append(html);

    // Define a list helper function:
    Handlebars.registerHelper('list', function (items, options) {
      var out = '<ul>';

      for (var i = 0, l = items.length; i < l; i++) {
        out = out + '<li>' + options.fn(items[i]) + '</li>';
      }
      
      out += '</ul>';
      return out;
    });

    var source   = $('#template_02').html();
    var template = Handlebars.compile(source);
    var context  = {
      people: [
        {firstname: 'John', lastname: 'Doe'},
        {firstname: 'Jane', lastname: 'Doe'},
        {firstname: 'Fred', lastname: 'Flinstone'},
        {firstname: 'Barney', lastname: 'Rubble'}
      ]
    };
    var html = template(context);
    $('body').append(html);

    // Define a table helper function:
    Handlebars.registerHelper('table', function (items, options) {
      var out = '<table style="width: 50%; border-top: 1px solid black; border-bottom: 1px solid black">';

      // Define headers
      out += '<tr><td><strong>First Name</strong></td><td><strong>Last Name</strong></td></tr>';

      for (var i = 0, l = items.length; i < l; i++) {
        out = out + '<tr>' + options.fn(items[i]) + '</tr>';
      }
      
      out += '</table>';
      return out;
    });

    var source   = $('#template_03').html();
    var template = Handlebars.compile(source);
    var context  = {
      people: [
        {firstname: 'John', lastname: 'Doe'},
        {firstname: 'Jane', lastname: 'Doe'},
        {firstname: 'Fred', lastname: 'Flinstone'},
        {firstname: 'Barney', lastname: 'Rubble'}
      ]
    };
    $('body').append(template(context));

    // Add some CSS dynamically for fun:
    $('div#table tr:first-child td').css('border-bottom', '1px dashed blue');

  </script>
</html>