<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/js/handlebars-1.0.rc.1.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

    
    <!-- Define a template inside a script tag -->
    <script id="template_01" type="text/x-handlebars-template">
      <div>
      <h2>A Title of {{title}}</h2>
      <p>Here is an example of some HTML code:</p>
      <code>
        {{code}}
      </code>
      <p>And here are the results of rendering that HTML:</p>
      {{{code}}}
      </div>
    </script>
  </body>

  <script type="text/javascript">
  	var source   = $('#template_01').html();
  	var template = Handlebars.compile(source);
  	var html     = template({title: 'My Second Template!',
                             code: '<p>This is <strong>html</strong> code</p>'});
  	$('body').append(html);
  </script>
</html>