<div id="users">
  <h3>Paths Example</h3>
  <ul>
  {{#each users}}
    {{#if this.admin}}
      <li style="color: red;">{{this.firstname}} {{this.lastname}}</li>
    {{else}}
      <li style="color: blue;">{{this.firstname}} {{this.lastname}}</li>
    {{/if}}
  {{/each}}
  </ul>
</div>